<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose your animal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Choose your animal</h1>

<form action="{% url 'demo_app:index' %} " method="post">
    <div class="btn-group">
        {% csrf_token %}
        {% for species in species_list %}
            <button type="submit" formaction="/{{ species.id }}/"
                    class="btn btn-primary">{{ species.type }}</button>
        {% endfor %}
    </div>
</form>

{% if animal_list %}
    <h1>Animals</h1>
    <div>
        <ul>
            {% for animal in animal_list %}
                <li class="list-group-item list-group-item-info">{{ animal.species.type }} {{ animal.id }}
                    - {{ animal.species.sound }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</body>
</html>